*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 900px;
    -webkit-text-stroke: 1px black;
}
@keyframes Slide{
    from {
        margin-top: 100%;
        opacity: 0;
    }
    to{
        margin-top: 0%;
        opacity: 1;
    }
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: clip;
}
/* navbar section */
.navbar{
    background: linear-gradient(to bottom, rgba(255,0,0,1), rgba(255,165,0, 1));
    height: 90px;
    padding: 0.5rem calc((50vw - 1600px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0px;
    z-index:3;
    width: 100%;
}
.navbar__logo{
    color: rgb(65,105,225);
    text-decoration: none;
    font-size: 1rem;
}
.logoimg{
    height:80px;
    width:80px;
}
.navbar__link{
    color: rgb(65,105,225);
    text-decoration: none;
    padding: 0rem 0.5rem;
    cursor: none;
}
.navbar__link:hover{
    color: white;
}
.open-menu, .close-menu{
    position: absolute;
    color: rgb(65,105,225);
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{display: none;}
@media screen and (max-width: 768px){
    .navbar__menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height:100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index:100;
        background-color:orange;
        transition: all 0.2s ease-in-out;
        text-align:center;
    }
    .navbar__link{
        padding:10px;
        margin:40px;
        display: flex;
        felx-direction: column;
        align-items: center;
        justify-content: center;
        text-align:center;
    }
    .open-menu, .close-menu{display:block;}
    #check:checked ~ .navbar__menu {right: 0;}
}

/* footer section*/
.Dtech__tag{
    width: 50%;
    height: 90%;
}
.footer{
    padding: 5rem calc((100vw - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: orange;
    background: rgb(65,105,225);
    z-index:1;
}
.footer__desc{
    padding: 0 2rem;
}
.footer__desc h1{
    margin-bottom: 2rem;
    color: orange;
    font-size: 1.5rem;
}
.footer__desc p{
    margin-bottom: 1rem;
}
#phone{
    font-weight: bold;
    font-size: 1.2rem;
}
.footer__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}
.footer__title{
    font-size: 14px;
    margin-bottom: 16px;
}
.footer__link{
    text-decoration: none;
    color: orange;
    font-size: 14px;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
}
.footer__link:hover{
    color:white;
}
@media screen and (max-width: 820px) {
    .Dtech__tag{
    width: 50%;
    height: 50%;
}
    .footer__wrapper{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
    }
    .footer{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:800px){
    .footer__desc{
        padding: 1rem;
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
    }
    .footer__links{
        padding: 1rem;
    }
}
.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}
input [type=text], select{
    padding: 1rem 1.5rem;
    outline: none;
    width: 100%;
    height: 50px;
    border: none;
    margin-right: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: black;
}
